<div class="equip-card">
  <div class="equip-card-block">
    <div class="row">
      <div class="col-md-1"><%= csas.id %></div> 
      <div class="col-md-1"><%= csa.csa %></div> 
      <div class="col-md-1"><%= csa.equip_id %></div> 
      <div class="col-md-1"><%= csa.cust_id  %></div> 
      <div class="col-md-1"><%= csa.start_date %></div> 
      <div class="col-md-1"><%= csa.end_date %></div> 
      <div class="col-md-1"><%= csa.term %></div> 
      <div class="col-md-1"><%= csa.equip_desc  %></div> 
      <div class="col-md-1"><%= csa.total_perks  %></div> 
    </div>
  </div>
</div>
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>CSA_1</th>-->
<!--      <th>Old_EquipID</th>-->
<!--      <th>CustID</th>-->
<!--      <th>Old_CustID</th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <tr>-->
<!--        <td><%= csa.id %></td>-->
<!--        <td><%= csa.csa %></td>-->
<!--        <td><%= csa.equip_id %></td>-->
<!--        <td><%= csa.customer_id %></td>-->
<!--        <td><%= csa.cust_id %></td>-->
        
        <td><%#= csas.csa_id %></td>
        <td><%#= csas.serial %></td>
        <td><%#= csas.model %></td>
<!--      </tr>-->
<!--    </tbody>-->
<!--</table>-->
