<div class="equip-card">
  <div class="equip-card-block">
    <div class="row">
      <div class="col-md-1"><%= equip_warranty_note.id %></div> 
      <div class="col-md-1"><%= equip_warranty_note.equipment_id %></div>
      <div class="col-md-2"><%= equip_warranty_note.equip_id %></div> 
      <div class="col-md-1"><%= equip_warranty_note.cust_id  %></div> 
      <div class="col-md-5"><%= equip_warranty_note.warranty_notes  %></div> 
      
    </div>
  </div>
</div>