
<div class="equip-card">
  <div class="equip-card-block">
    <div class = "row">
      <div class="col-md-1"><%= equipment.id %></div>
      <div class="col-md-1"><%= equipment.equip_id %></div>
      <div class="col-md-1"><%= equipment.customer_id %></div>
      <div class="col-md-1"><%= equipment.cust_id %></div>
      <div class="col-md-1"><%= equipment.csa1 %></div>
      <div class="col-md-1"><%= equipment.csa_id %></div>
      <div class="col-md-2"><%= equipment.serial %></div>
      <div class="col-md-1"><%= equipment.model %></div>        
    </div>
  </div>
</div>



