
<table>
  <thead>
    <tr>
      <th>EquipID</th>
      <th>Old_EquipID</th>
      <th>CustID</th>
      <th>Old_CustID</th>
      <th>CSA_1</th>
      <th>CCA_ID</th>
      <th>Serial</th>
      <th>Model</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td><%= equipment.id %></td>
        <td><%= equipment.equip_id %></td>
        <td><%= equipment.customer_id %></td>
        <td><%= equipment.cust_id %></td>
        <td><%= equipment.csa1 %></td>
        <td><%= equipment.csa_id %></td>
        <td><%= equipment.serial %></td>
        <td><%= equipment.model %></td>
      </tr>
    </tbody>
</table>


