<p id="notice"><%= notice %></p>
<div>
  <h2>Equipment Information</h2>
  <%= link_to 'New Equipment', new_equipment_path %>
  <div class="equip-card">
    <div class="equip-card-block">
      <div class = "row equip-row">
        <div class="col-md-1">ID</div>
        <div class="col-md-1">Equip_id</div>
        <div class="col-md-1">Cust_id</div>
        <div class="col-md-1">Cust_Old</div>
        <!--<div class="col-md-1">CSA_ID</div>-->
        <!--<div class="col-md-1">CSA_Old</div>-->
        <div class="col-md-1">Serial</div>
        <div class="col-md-1">Model</div>
        <div class="col-md-1">Manufacturer</div>
        <div class="col-md-1">Product Type</div>
        <div class="col-md-1">InstallDate</div>  
        <div class="col-md-1">Actions</div>
      </div>
    </div>
  </div>
  
  <% @equipment.each do |e| %>
    <div class="equip-card">
      <div class="equip-card-block">
        <div class = "row equip-row">
          <div class="col-md-1"><%= e.id %></div>
          <div class="col-md-1"><%= e.equip_id %></div>
          <div class="col-md-1"><%= e.customer_id %></div>
          <div class="col-md-1"><%= e.cust_id %></div>
          <!--<div class="col-md-1"><%= e.csa_id %></div>-->
          <!--<div class="col-md-1"><%= e.csa1 %></div>-->
          <div class="col-md-1"><%= e.serial %></div>
          <div class="col-md-1"><%= e.model%></div>
          <div class="col-md-1"><%= e.manufacturer %></div>
          <div class="col-md-1"><%= e.product_type %></div> 
          <div class="col-md-1"><%= e.date_installed %></div>
          <div><%= link_to 'Show', e %></div> |
          <div><%= link_to 'Edit', edit_equipment_path(e) %></div> |
          <div><%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' } %></div> 
        </div>
      </div>
    </div>
  <% end %>
  
</div>


<br>

<%= link_to 'New Equipment', new_equipment_path %>
