<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @equipment.customer_id %>
</p>
<p>
  <strong>Old_CustID:</strong>
  <%= @equipment.cust_id %>
</p>

<p>
  <strong>EquipID:</strong>
  <%= @equipment.id %>
</p>
<p>
  <strong>Old_EquipID:</strong>
  <%= @equipment.equip_id %>
</p>

<p>
  <strong>Csa:</strong>
  <%= @equipment.csa %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @equipment.serial %>
</p>

<p>
  <strong>Model:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @equipment.manufacturer %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @equipment.product_type %>
</p>

<p>
  <strong>Date installed:</strong>
  <%= @equipment.date_installed %>
</p>



<div>
  <h2>Equipment Notes</h2>
  <div class="equip-card">
    <div class="equip-card-block">
      <div class = "row equip-row">
        <div class="col-md-1">Note_ID</div>
        <div class="col-md-1">Equip_ID</div>
        <div class="col-md-1">Old_EquipID</div>
        <div class="col-md-1">Old_CustID</div>
        <div class="col-md-1">Notes</div>
      </div>
    </div>
  </div>
  <%= render @equipment.equip_note %>
</div>


<%= link_to 'Edit Equipment', edit_equipment_path(@equipment) %> |
<%= link_to 'Equipment Detail', equipment_index_path %> |
<%= link_to 'Customers', customers_path %>
