<!-- Card showing Information using Ajax -->
<div id="empCard">
  <div class="col-md-4">
    <div class="ibox-title"><h4><%= @employee.first_name %> <%= @employee.last_name %></h4></div>
    <div class="ibox-content">
      <label for="">Employee ID: </label> <label><%= @employee.id %></label> <br>
      <label for="">Employee Barcode: </label> <label><%= @employee.barcode %></label> <br>
      <%= image_tag @employee.avatar.url(:thumb) %>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <%= button_to 'View', employee_path(@employee.id), :class=>'btn btn-info btn-sm btn-block', :method => :get %>
        </div>
        <div class="col-md-6">
          <%= button_to 'Edit', edit_employee_path(@employee.id), :class=>'btn btn-default btn-sm btn-block', :method => :get %>
        </div>
      </div>
    </div>
  </div>
</div> 