<p id="notice"><%= notice %></p>

<h1>Customers</h1>
<!DOCTYPE html>
<html>
<head>

<!--<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>-->
  
<script>
$(document).ready
$(document).on('change', '.custTag', function(){
    
    var custId = $(this).val();
    console.log (custId);
    $.get('/customers/' + custId);
    
});

</script>


</head>


<%= select_tag( "cust_id", options_from_collection_for_select(@customers.by_last_name, :id, :last_name, (@customers_id.nil?) ? nil : @customers_id), {:class => 'custTag'}) %> 


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr class="custRow">
        <td><%= customer.id %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>

</html>
