<p id="notice"><%= notice %></p>
<div>
  <h2>Customer Information</h2>
  <div class="equip-card">
    <div class="equip-card-block">
      <div class = "row equip-row">
        <div class="col-md-1">ID</div>
        <div class="col-md-1">Old_ID</div>
        <div class="col-md-2">FirstName</div>
        <div class="col-md-2">LastName</div>
         
      </div>
    </div>
  </div>

  <div class="equip-card">
    <div class="equip-card-block">
      <div class = "row equip-row">
        <div class="col-md-1"><%= @customer.id %></div>
        <div class="col-md-1"><%= @customer.cust_id %></div>
        <div class="col-md-2"><%= @customer.first_name %></div>
        <div class="col-md-2"><%= @customer.last_name %></div>
              
      </div>
    </div>
  </div>

<div>
  <h2>Equipment Information</h2>
  <div class="equip-card">
    <div class="equip-card-block">
      <div class = "row equip-row">
        <div class="col-md-1">EquipID</div>
        <div class="col-md-1">Old_EquipID</div>
        <div class="col-md-1">Customer</div>
        <div class="col-md-1">Old CustID</div>
        <div class="col-md-1">CSA_Old</div>
        <div class="col-md-1">CSA_New</div>
        <div class="col-md-2">Serial</div>
        <div class="col-md-1">Model</div>        
      </div>
    </div>
  </div>
  <%= render @customer.equipment %>
          
</div>

<div>
  <h2>CSA Information</h2>
  <div class="equip-card">
    <div class="equip-card-block">
      <div class = "row equip-row">
        <div class="col-md-1">CSA ID</div>
        <div class="col-md-1">CSA-Old</div>
        <div class="col-md-1">Old EquipID</div>
        <div class="col-md-1">Old_CustID</div>
        <div class="col-md-1">Start Date</div>
        <div class="col-md-1">End Date</div>
        <div class="col-md-1">Term</div>
        <div class="col-md-1">Equip Desc</div>
        <div class="col-md-1">Perks</div>
      </div>
    </div>
  </div>
  <% if  @customer.csas.empty? %>
    <div>
      <h5>No CSA for this Customer</h>
      </div>
    <hr>
  <% else %>
    <%= render @customer.csas %>
    </div>
    <hr>
  <% end %>
  
</div>
<!--<p>-->
<!--  <strong>Address1:</strong>-->
<!--  <%= @customer.address1 %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Address2:</strong>-->
<!--  <%= @customer.address2 %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>City:</strong>-->
<!--  <%= @customer.city %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>St:</strong>-->
<!--  <%= @customer.st %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Zip:</strong>-->
<!--  <%= @customer.zip %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Home phone:</strong>-->
<!--  <%= @customer.home_phone %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Work phone:</strong>-->
<!--  <%= @customer.work_phone %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Cell phone:</strong>-->
<!--  <%= @customer.cell_phone %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Email:</strong>-->
<!--  <%= @customer.email %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Auto serv:</strong>-->
<!--  <%= @customer.auto_serv %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Notes:</strong>-->
<!--  <%= @customer.notes %>-->
<!--</p>-->


<%= link_to 'Edit Customer', edit_customer_path(@customer) %> |
<%= link_to 'Customer List', customers_path %>
