<div class="equip-card">
  <div class="equip-card-block">
    <div class="row">
      <div class="col-md-1"><%= equip_service_call.id %></div> 
      <div class="col-md-1"><%= equip_service_call.equipment_id %></div>
      <div class="col-md-2"><%= equip_service_call.equip_id %></div> 
      <div class="col-md-1"><%= equip_service_call.cust_id  %></div> 
      <div class="col-md-5"><%= equip_service_call.call_notes  %></div> 
      
    </div>
  </div>
</div>